<div>
    <h2 id="page-heading">
        <span jhiTranslate="workshopApp.companyInfo.home.title">Company Infos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-company-info" [routerLink]="['/company-info/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="workshopApp.companyInfo.home.createLabel">
            Create new Company Info
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="companyInfos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="contactLine1"><span jhiTranslate="workshopApp.companyInfo.contactLine1">Contact Line 1</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="contactLine2"><span jhiTranslate="workshopApp.companyInfo.contactLine2">Contact Line 2</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="phoneNumber"><span jhiTranslate="workshopApp.companyInfo.phoneNumber">Phone Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let companyInfo of companyInfos ;trackBy: trackId">
                <td><a [routerLink]="['/company-info', companyInfo.id, 'view' ]">{{companyInfo.id}}</a></td>
                <td>{{companyInfo.contactLine1}}</td>
                <td>{{companyInfo.contactLine2}}</td>
                <td>{{companyInfo.phoneNumber}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/company-info', companyInfo.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/company-info', companyInfo.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'company-info/'+ companyInfo.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="companyInfos && companyInfos.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
